.link{
    cursor: pointer;
}

.burger{
    width: 24px;
    height: 16px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

}
.line{
    width: 100%;
    height: 2px;
    background-color: var(--textColor);
}

.responsiveMenu{
    position: absolute;
    top: 100px;
    left: 0;
    background-color: var(--bg);
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 50px;
    font-size: 30px;
}
@media screen and (max-width: 640px) {
    .burger{
        display: flex;
    }
    .link{
        display: none;
    }
}