.container{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.title{
    font-size: 12px;
    font-weight: 500;
}
.listing{
    margin-top: 20px;
}
.categories {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }