.container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.social{
    display: flex;
    flex: 1;
}
.logo{
    display: flex;
    justify-content: center;

    flex: 1;
}
.links{
    display: flex;
    flex: 1;
gap: 20px;
}
/* responsive breakpoints*/
@media screen and (max-width: 1540px) {
}
@media screen and (max-width: 1280px) {
    .logo{
        font-size: 22px;
    }
    .links{
        font-size: 18px;
        gap: 15px;
    }
}
@media screen and (max-width: 1024px) {
    .social{
        display: none;
    }
    .logo{
        text-align: left;
    }
}
@media screen and (max-width: 768px) {
    .logo{
        font-size: 14px;
        justify-content: start;
    }

}
@media screen and (max-width: 640px) {
    .link{
        display: none;
    }
    .links{
        justify-content: end;
    }
}